@font-face {
  font-display: swap !important;
  font-family: "bootstrap-icons" !important;
  src: url("../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
       url("../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}
